<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method = "POST" novalidate class="validated-form" enctype="multipart/form-data"><%# using _method from method override--enctype="multipart/form-data added to allow multiple images to be uploaded--lecture 534%>
                <div class="mb-3">
                    <label  for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title%>" required> <%# campground[title] is a way to group things together so everytime our data is sent via post request, to our express app to the server, everthing in the req.body will be stored under campground %>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="form-file custom-file" class="mb-3">
                    <label for="formFile custom-file-label" class="form-label">Upload Image(s)</label>
                    <input class="form-control" type="file" id="formFile" multiple>
                  </div>
                  <div class="mb-3">
                      <% campground.images.forEach(function(img, i) { %>
                        <img src="<%=img.url %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>"><%# lecture 537 added delete images--set each checkbox to have a different value and set them all to have a name of deleteImages[]--any box that is checked, its value is set to deleteImages and it is an array when the body is parsed  %> 
                        </div> 
                        <label for="image-<%=i%>">Delete?</label> 
                      <% }) %> 
                  </div>
                <!--<div class="mb-3">
                    <label class="form-label" for="image">Add Images</label>
                    <input type="file" name="image" id="image" multiple>image needs to match since multer is looking for image lecture 534--set multiple to true so more than one image can be uploaded-->

                    <!--code below removed in lecture 534 to add image upload to edit page-->
                    <!-- <input class="form-control" type="text" id="image" name="campground[image]" value="<%=campground.image%>" required>
                    <div class="valid-feedback">
                        Looks good! 
                    </div>-->

                </div>
                <div mb-3>
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%=campground.price%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                      </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required><%=campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            
            <a href="/campgrounds/<%= campground._id%>">Back to Campground</a>

        </div>
    </div>
    
    
