    <% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= campground.title %></h5>
                  <p class="card-text"><%= campground.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-muted"><%= campground.location %></li>
                  <li class="list-group-item ">Submitted by <%= campground.author.username %></li><%#added author to campground using key author.username added with populate function added in route/campgrounds.js-- lecture 515%>
                  <li class="list-group-item">$<%= campground.price %>/night</li>
                </ul>
                <%#--lecture 516--to show or hide edit and delete buttons so only the user who owns the campground can edit or delete it, you have to monitor the campground.author which is an ID and the currentUser._id which will have an ID if the user is signed in--we want to see if these two ID's match you must check first if there is a currentUser before checking for equality because if there is no currentUser it will break the code%>
                <% if(currentUser && campground.author.equals(currentUser._id)) { %>  
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger" >Delete</button>
                    <% } %> 
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
            
        </div>
    </div>
        <div class="col-6">
            <h2>Leave a Review</h2>
            <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate><%#--novalidate tells form not to validate with html validations--validated-form is in the boilerplate.ejs and tells the form to use the javascript set up with the class of validated-form%>
                <div class="mb-3">
                    <label for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating"><%#used square brackets to put all inputs under the key review%>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="review" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for(let review of campground.reviews) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Rating: <%= review.rating %></h5>
                        <p class="card-text">Review: <%= review.body %></p>
                        <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form><%#this form is in the for loop so the button will be on each review%>
                    </div>
                </div>                
            <% } %>
        </div>
        
    
    
    
